<h1>Places I Have Visited</h1>

<ul style= "list-style: none; padding: 0;">
  <% @places.each do |place| %>
    <li style= "margin-bottom: 12px;">
      <%= link_to place.name, place_path(place), style: "text-decoration: underline;" %>
    </li>
  <% end %>
</ul>

<br>
<br>
<br>
<div>
  <%= link_to "Add a New Place", new_place_path %>
</div>

